---
import PoseNet from '../components/PoseNet.jsx';
---

<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.1.0"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoseNet in Astro</title>
  </head>
  <body>
    <PoseNet />
  </body>
</html>